/*
/.**

!.tool-versions
!/.bash_aliases
!/.bashrc
!/.bin/
!/.bin/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/wezterm/
!/.config/wezterm/**
!/.config/starship.toml
!/.default-npm-packages
!/.gitconfig
!/.gitignore
!/.zshrc
!/.zsh/
!/.zsh/**
/.config/nvim/lazy-lock.json

.DS_Store
