/*
/.**

!.tool-versions
!/.bash_aliases
!/.bashrc
!/.bin/
!/.bin/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/starship.toml
!/.config/wezterm/
!/.config/wezterm/**
!/.default-npm-packages
!/.gitconfig
!/.gitignore
!/.zsh/
!/.zsh/aliases.zsh
!/.zsh/environment.zsh
!/.zsh/functions.zsh
!/.zshrc
!/README.md
!/ansible/
!/ansible/**
/.config/nvim/lazy-lock.json

.DS_Store
