/*
/.**

!.tool-versions
!/.bash_aliases
!/.bashrc
!/.bin/
!/.bin/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/starship.toml
!/.config/wezterm/
!/.config/wezterm/**
!/.config/ghostty/
!/.config/ghostty/**
!/.default-npm-packages
!/.gitconfig
!/.github/
!/.github/**
!/.github/workflows/
!/.github/workflows/**
!/.gitignore
!/.vimrc
!/.zsh/
!/.zsh/aliases.zsh
!/.zsh/environment.zsh
!/.zsh/functions.zsh
!/.zsh/tools.zsh
!/.zshrc
!/Makefile
!/README.md
!/ansible/
!/ansible/**
/.config/nvim/lazy-lock.json

.DS_Store
