[alias]
	a = add
	b = branch
	c = commit
	co = checkout
	conflicts = !git ls-files -u | cut -f 2 | sort -u
	f = fetch
	r = rebase
	s = status -s
	sm = submodule
	sw = switch

[color]
	ui = auto

[core]
	editor = vim
	ignorecase = false

[fetch]
	prune = true

[grep]
	lineNumber = true

[init]
	defaultBranch = main

[pull]
	rebase = true
	ff = only

[push]
	default = current
	autoSetupRemote = true

[user]
	name = tkuramot
	email = mabdman512@gmail.com

[url "ssh://git@github.com"]
	insteadOf = https://github.com
